.audio-player {
    display: flex;
    flex-direction: column;
    align-self: start;

    width: auto;
    margin: 10px auto 10px 0;

    padding: 10px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

.audio-player p {
    margin-bottom: 6px;
    font-weight: bold;
    color: hsl(from var(--main) h s calc(l * 8) / 100%);
    text-align: left;
}